.home-page-div
{
    background-color: rgb(24, 24, 24);
    min-height: 100vh;
}

.navbar
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalDiv
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 27, 27, 0.74);
    z-index: 500;
}

.temp-close
{
    position: absolute;
    font-size: 22px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.button-container
{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

.button-container button
{
    position: absolute;
    right: 30px;
    border: none;
    padding: 10px 16px;
    background-color: rgb(54, 179, 81);
    cursor: pointer;
}

.ratingsDiv
{
    padding: 30px 10px;
}

.rating-label
{
    padding: 0 10px;

}

.sortByWrapper select
{
    /*border: none;*/
    outline: none;
    padding: 3px;
}

.input-margin-left
{
    margin-left: 15px;
}

.datePickerDiv
{
    padding: 0 10px;
}

.datepicker-label
{
    padding: 0 10px;
}


.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    background-color: white;
    z-index: 1000;
}

.searchDiv
{
    position: absolute;
    top: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sortByContainer
{
    position: relative;
    padding-bottom: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;

}

.sortByWrapper
{
    position: absolute;
    left: 20px;
}
.sortByWrapper select
{
    background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}


.hide
{
    display: none;
}

.image-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.selectedItemTitle
{
    width: 100%;
    height: 30px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px 0;
}

.image-container img
{
    max-width: 95%;
    height: 500px;
}

.wrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-recommendations
{
    width: 80%;
    background-color: white;
    overflow: scroll;
    max-height: 350px;
    z-index: 100;
}

.search-field
{
    width: 80%;
    height: 35px;
    outline: none;
    appearance: none;
    border-radius: 5px;
    padding-left: 12px;
    border-radius: 18px;
}

.search-bar
{
    position: absolute;
    right: 10%;
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
}


.section
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: rgb(44, 44, 44);*/

}

.recommendDiv
{
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.totalItems
{
    color: white;
    float: right;
    padding: 0 15px;
}

@media only screen and (max-width: 950px)
{

    .sortByContainer
    {
        font-size: 17px;
    }

}

@media only screen and (max-width: 300px)
{

    .sortByContainer
    {
        font-size: 12px;
    }

    .sortByWrapper select
    {
        padding: 0;
        width: 50%;
    }

}